

.imageejer {
    width: 100%;

}


.cuerpo {
    justify-content: center;
    display: flex;
    font-size: 25px;
    width: 55%;
    padding:2rem 3rem;
    font-family:Georgia, 'Times New Roman', Times, serif;
    align-items: center;
    display: flex;
    flex-direction:column;

}

.p1{
    font-size: 25px;
    width: 60%;
    align-content: center;
    margin-left: 20%;
    padding:2rem 3rem;
    font-family:Georgia, 'Times New Roman', Times, serif;
    align-items: center;
    display: flex;
}

.m{
    width: 100%;
    align-items: center;
    display: flex;
    margin-left: 0;
    margin-top: 50px;
    font-size: 20px;


}

.cuerpo img{
    height: 200px;
    box-shadow:antiquewhite

}


@media screen and (min-width:960px) and (max-width:1199px){
    .imageejer {
        width: 100%;
    
    }
    
}

@media screen and (min-width:768px) and (max-width:959px){
    .imageejer {
        width: 100%;
        height:         3rem;
    }
    
}

@media screen and (min-width:480px) and (max-width:767px){
    .imageejer {
        width: 100%;
        height:         3rem;

    
    }
    
}@media screen and (min-width:200px) and (max-width:479px){
    .imageejer {
        width: 100%;
        height:         14rem;
    
    }
    
}
